<section class="home">
  <div class="illustration">
    <img src="assets\images\hero.png" alt="Hero Image" />

  </div>
  <div class="intro-text">
    <h1>👋 Hi, I'm <span class="highlight">Rit Mallick</span></h1>
    <p class="tagline">{{ displayedRole }}<span class="cursor">|</span></p>

    <div class="buttons">
      <a href="assets/resume.pdf" class="resume-button" download>📄 Download Resume</a>
    </div>

    <div class="social-icons">
      <a href="https://github.com/yourusername" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://linkedin.com/in/yourprofile" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="mailto:legendrit847@gmail.com"><i class="fas fa-envelope"></i></a>
    </div>
  </div>

  
</section>
