<header>
  <div class="welcome-banner">
    <span class="typed-text">👋 Welcome to my Portfolio.</span><span class="cursor">|</span>
  </div>
</header>

<main class="main-content">
  <app-particle-background></app-particle-background>
  <app-navbar></app-navbar>

  <section id="home"><app-home></app-home></section>
  <section id="about"><app-about></app-about></section>
  <section id="skills"><app-skills></app-skills></section>
  <section id="projects"><app-project-list></app-project-list></section>
  <section id="contact"><app-contact></app-contact></section>
</main>
<app-footer></app-footer>